.ui.page .modal {
  margin-top: 100px !important; /* https://github.com/Semantic-Org/Semantic-UI-React/issues/2549 */
}

.ui.modal i.icon.close {
  color: white;
}

.ui.form .ui.header {
  color: white;
}

.ui.form .field>label {
  color: white !important;
}

.ui.modal .selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10x;
}